body {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#000000;
	padding-top:20px;
}

table {border-collapse: collapse;
border: 2px solid #000;
font: normal 80%/140% arial, helvetica, sans-serif;
color: #555;
background: #fff;}

td, th {border: 1px dotted #bbb;
padding: .5em;}

caption {padding: 0 0 .5em 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
text-transform: uppercase;
color: #333;
background: transparent;}

/* =links
----------------------------------------------- */

table a {padding: 1px;
text-decoration: none;
font-weight: bold;
background: transparent;}

table a:link {border-bottom: 1px dashed #ddd;
color: #000;}

table a:visited {border-bottom: 1px dashed #ccc;
text-decoration: line-through;
color: #808080;}

table a:hover {border-bottom: 1px dashed #bbb;
color: #666;}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th {border: 2px solid #000;
text-align: left;
font-size: 1.2em;
font-weight: bold;
color: #333;
background: transparent;}

tfoot td {border: 2px solid #000;}

/* =body
----------------------------------------------- */

tbody th, tbody td {vertical-align: top;
text-align: left;}

tbody th {white-space: nowrap;}

.odd {background: #fcfcfc;}

tbody tr:hover {background: #fafafa;}


a {
	color: #3366CC;
	text-decoration: none;
}

	
h2{

text-align:justify;
vertical-align:middle;

}

.title {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #006666;
	color: #DCDCDC;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  color: #DCDCDC;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
	background-color: #CCCCCC;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666; 
	font-weight: bolder;
	font-size: medium;
}

a:hover {
	text-decoration: underline;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}




#header{


background-image:url(../images/rts_tracking_r1_c2.gif);
background-repeat:no-repeat;
margin: 0 auto;
height:178px;
width:981px;

}
.container2012,
.inner{
margin: 0 auto;
width: 981px;
}
#banner{
height: 352px;
padding-top: 12px;

}
.cars{
background-image:url(../images/menu_car_bg.gif);
background-repeat:repeat-x;
height:508px;
width:705px;
padding-top: 39px;
margin-top: 10px;
}


.tracker{
background-image:url(../images/body_bg.gif);
height::auto;
width:255px;

}
.trackbtn{
	background-image:url(../images/btn_bg.gif) ;

	 border: medium none;
    color: #FFFFFF;
    
}
.currency{
}
#left_sidebar{
width:250px;
float:left;
}
.lowbottom{
background-image:url(../images/body_bg.gif);
margin-top:10px;
height:auto;
width:255px;

}
.makes a{
	
	color:#000000;
}
.middle{

	float: right;
    overflow: hidden;
    width: 74opx;

}
.src{
width:705px;
overflow: hidden;
background-image:url(../images/body_bg.gif);
margin-top: 10px;

}
#find{

height:auto;
width:auto;
}
#tax,#src{

height:auto;
width:auto;
color:#000000;
font-family:Verdana, Arial, Helvetica, sans-serif;

}
.convertor{
margin-left:6px;
}
.table_mid{
margin-left:10px;

}
#currency
{
background-image:url(../images/body_bg.gif);
   height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 255px;
	padding-top: 23px;


}
#footer{

  clear: both;
    margin-top: -278px;
    position: relative;
    width: 1800px;
}
#footer1{
background-image:url(../images/bottom_footer.gif);
height:272px;
}
#footer2{
background-image:url(../images/footer2.gif);
height:33px;
}
.tabControl
{
   width:500px; /* tab control width */
}

.lowTab, .highTab
{
   background-repeat:no-repeat;
   cursor:pointer;
   width:172px;
   text-align: center; /* tab width */
}

.lowTab
{
   background-image:url(../images/btn_bg.gif);
}

.highTab
{
   background-image:url(../images/label_background.gif);
   
}

.tabHolder
{
   width:100%;
   height:20px; /* tab height */
   border-collapse:collapse;
   border-spacing:0px;
   -moz-user-select:none; /* removes text selection */
}

.tabPanel
{
   top:20px; /* should equal tab height */
   left:0px;
   width:100%;
   height:auto; /* tab panel height */
   background-image:url(../images/find_car.gif);
   background-repeat:repeat-x;
   
}
.etabs { margin: 0; padding: 0; background-image:url(../images/menu_car_bg.gif);  }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; background-image:url(../images/tab.gif); color:#FFFFFF }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; color:#FFFFFF }
.tab a:hover { text-decoration:none; color:#FFFFFF }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px;  background-image:url(../images/label_background.gif);}
.tab a.active { font-weight: bold; color:#000000 }
.tab-container .panel-container {
background-image:url(../images/find_car.gif); 

border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; color:#000000; }
    

#btn {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFF;
	background-attachment: fixed;
	background-image: url(../images/btn_bg.gif);
	background-repeat: no-repeat;
}
.textfd {
	
    background-image: url(images/txtbox_bg.gif);
    background-repeat: no-repeat;
    border: medium none;
    height: 18px;
  
    width: 184px;
}

}
